<section class="pan-layout-header">
  <div class="pan-layout-header__menutoggle">
    <i class="fas fa-bars"></i>
  </div>

  <div class="pan-layout-header__content">
    <div class="pan-layout-header__avatar">
      <span>{{ site.title | default: site.github.owner_name }}</span>

      <img src="/assets/images/logo.svg" alt="">

    </div>
  </div>
</section>
