<section class="pan-layout-left">
  <div class="pan-layout-left__top">
    <div class="pan-layout-left__avatar">
      <img src="/assets/images/logo.svg" alt="">
    </div>

    <div class="pan-layout-left__info">
      <h1 class="pan-layout-left__title">
        {{ site.title | default: site.github.owner_name }}
      </h1>

      {% if site.subtitle %}
      <h3 class="pan-layout-left__subtitle">
        {{ site.subtitle }}
      </h3>
      {% endif %}
    </div>
  </div>

  <div class="pan-layout-left__middle">
    {% if site.menu %}
    <ul class="pan-layout-left__menu">
      {% for menu in site.menu %}
      <li data-menu-link="{{ menu.link }}">
        <a href="{{ menu.link | relative_url }}">{{ menu.text }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="pan-layout-left__bottom">
    <div class="pan-layout-left__small">
      <span>Shpërnda fushatën:</span>
    </div>
    <div class="pan-layout-left__social">
      {% if site.social_icons %}
      <ul>
        {% for social in site.social_icons %}
        {% if social.icon %}
        <li><a target="_blank" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>

  <div class="pan-layout-left__close">
    <i class="fa fa-fw fa-times"></i>
  </div>
</section>
